header{

  line-height: 30px;
  border-bottom: 1px solid #333333;
}
.logo{
font-weight: bold;
font-size: 30px;
line-height: 30px;
}
.user{
  float: right;
 
}
.user p{
  border: 1px solid #333333;
}
.header-con{
width: 1240px;
margin: auto;

}

.nav li{
display: inline-block;
padding:0 20px 0 20px;
box-sizing: content-box;
}
.nav li:hover{
  cursor: pointer;
  border-bottom:1px solid #333333;
}